.nav{
    @include flex-center-vert;
    justify-content: space-between;
    padding-top: 3rem;

    
    //LOGO//
    &__logo-container{
        margin-right: 2rem;
    }

    //MAIN NAV
    &__main{
        list-style: none;
        @include flex-center-vert;
        gap: 2rem;
        flex: 1;
    }

    //NAV ACTIONS
    &__actions{
        @include flex-center-vert;
        gap: 2rem;
        justify-content: space-between;
    }

    //*********MEDIA QUERIES*********//


    /**************************/
    /* BELOW 1024px (Small LAPTOP) */
    /**************************/

    &__main,
    &__link,
    &__btn{
        @include respond-to(md){
            display: none;
        }
    }

   
}


//*********MOBILE NAV*********//
.mobile{
    display: none;

    &__nav{
        display: none;

        @include respond-to(md){
            @include flex-center-column;
            font-size: 1.5rem;
            background-color: $mobile-nav-bg-color;
            backdrop-filter: blur(.625rem);
            position: absolute;
            top:0;
            left:0;
            width:100%;
            height: 100vh;
            z-index: 4;
            transition: all 0.5s ease-in;
            opacity: 0;
            pointer-events: none;
            visibility: hidden;
        }
    }

    &__nav-main{
        list-style: none;
        @include flex-center-column;
        gap: 2rem;
        margin-bottom: 2rem;
    }

    &__nav-link--login{
        margin-bottom: 2rem;
    }

    &__nav-buttons{
        border: none;
        background: none;
        cursor: pointer;
        display: none;

        @include respond-to(md){
            display: block;
        }
    }
    
    &__nav-btn{
        height: 2.5rem;
        width: 2.5rem;
    }

    &__nav-btn--light{
        color:$mobile-nav-btn-color--light;
    }

    &__nav-btn--dark{
        color:$mobile-nav-btn-color--dark;
    }

    &__nav-btn[name="close-circle-sharp"]{
        display: none;
    }

    &__nav-btn[name="menu-sharp"]{
        @include respond-to(md){
            display: block;
        }
    }

    &__nav-open &__nav{
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
    }
    
    &__nav-open &__nav-btn[name="close-circle-sharp"] {
        display: block;
        position: relative;
        z-index: 10;
    }
    
    &__nav-open &__nav-btn[name="menu-sharp"] {
        display: none;
    }

}



.hidden{
    display: none;
}





