.onboarding{
    &__back-btn{
        @include flex-center;
        gap: 1rem;
    }

    &__back-img{
        padding: 1rem 1.2rem;
        background-color: $back-btn-bg-color;
        border-radius: .3125rem;
        transition: all 0.3s ease;

        &:hover {
            background:darken($button-primary-bg-color, 8%);
            transform: translateX(0rem) translateY(-0.3125rem);
        }
    
        &:active {
            background:darken($button-primary-bg-color, 25%);
            transform: translateX(0rem) translateY(.125rem);
        } 
    }

    /**************************/
    /* BELOW 480px (MOBILE)   */
    /**************************/
    &__back-txt{
        @include respond-to(xs){
            display: none;
        } 
    }
}

.form{
    &__container{
        height: 90vh;
        @include flex-center;
        padding: 2rem;
    }

    &__card{
        background-color: $sign-up-modal-bg-color--light;
        width: 37.5rem;
        padding: 3rem;
        border-radius: .3125rem;
    }

    &__header{
        @include flex-center;
        justify-content: space-between;
        margin-bottom: 3rem;
    }

    &__txt-box{
        @include flex-center-column;
        gap: 1rem;
        text-align: center;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 2.5rem;
    }

    &__buttons{
        @include flex-center;
        justify-content: space-between;
        margin-bottom: 3rem;
        gap: 2rem;
    }

    &__btn{
       width: 40%;
       text-align: center;
       font-weight: bold;
       color: $color-black;
    }

    &__prevBtn--dark{
        color: $form-link--dark;
    }

    &__cta{
        margin-bottom: 4.5rem;
    }

    &__sign-up-container{
        margin-bottom: 4.5rem; 
        @include flex-center-vert;
        justify-content: space-between;
    }

    &__input{
        border-radius: 5px;
        border: none;
        padding: 1.125rem 1.5rem;
    }

    &__footer{
        text-align: center;  
    }

    /**************************/
    /* BELOW 480px (MOBILE)   */
    /**************************/
    &__container{
        @include respond-to(xs){
            height: 130vh;
            padding-top: 2rem;
        } 
    }

    &__card{
        @include respond-to(xs){
            padding: 2rem;
        } 
    }

    &__sign-up-container{
        @include respond-to(xs){
            gap: 1rem;
            flex-direction: column;
            width: 100%
        } 
    }

    &__buttons{
        @include respond-to(xs){
            flex-direction: column;
            width: 100%
        } 
    }

    &__btn, 
    &__btn--2, 
    &__input
    {
        @include respond-to(xs){
            width: 100%
        } 
    }
}

.card{
    &__cards{
        @include flex-center;
        justify-content: space-between;
        margin-bottom: 3rem;
        gap: 3rem;
    }

    &__card{
        background-color:$option-card-bg-color;
        border-radius: .3125rem;
        width: 13rem;
        padding: 1.5rem;
        cursor: pointer;
    }

    &__heading{
        font-weight: $font-weight-bold;
        color: $color-black;
    }

    &__description{
        margin-top: 0.5rem;
    }

    &__label{
        @include flex-center;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    /**************************/
    /* BELOW 480px (MOBILE)   */
    /**************************/
    &__cards{
        @include respond-to(xs){
           flex-direction: column;
        } 
    }

    &__card{
        @include respond-to(xs){
           width: 100%;
        } 
    }

}

.tab{
    display: none;
}

.tab-active{
    display: block;
}

.card-bg--light{
    background-color: $sign-up-modal-bg-color--light;
}
.card-bg--dark{
    background-color: $sign-up-modal-bg-color--dark;
}

