/// **** LAYOUT CONTAINER **** ///

// Map with Container Max-widths
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

// Mixins utilizing map
@mixin container{
    margin: 0 auto;
    max-width: map-get($container-max-widths, xxl);
    padding: 0rem 5.625rem 0rem 5.625rem;

    @include respond-to(md){
        padding: 0rem 2.5rem 0rem 2.5rem;
    }

    @include respond-to(xs){
        padding: 0rem 1.5rem 0rem 1.5rem;
    }

    @include respond-to(xxs){
        padding: 0rem 1rem 0rem 1rem;
    }
}

@mixin container-fluid{
  margin: 0 auto;
  max-width: 99.9%;
  padding: 0rem .25rem 0rem .25rem;
}

// ===== Usage ===== //
//@include container-fluid;
//@include container;


/// **** BREAKPOINT MANAGER **** ///

// Map with breakpoints
$breakpoints: (
    xxs:  22rem,      // 352px
    xs:   30rem,      // 480px
    sm:   53rem,      // 848px
    md:   64rem,      // 1024px
    lg:   75rem,      // 1200px
    xl:   90rem       // 1440px
) !default;


// Respond-To Mixin
@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
      // Retrieves the value from the key
      $value: map-get($breakpoints, $breakpoint);
      
      // If the key exists in the map
      @if $value != null {
            
        // Prints a media query based on the value
        @media screen and (max-width: $value) {
            @content;
        }
      }
  }
   
  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

// ===== Usage ===== //
//@include respond-to(xxs){}
//@include respond-to(xs){}
//@include respond-to(sm){}
//@include respond-to(md){}
//@include respond-to(lg){}
//@include respond-to(xl){}


/// **** FLEX-BOX TOOLKIT **** ///

@mixin flex-column {
    display: flex;
    flex-direction: column;
  }
  
  @mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @mixin flex-center-column {
    @include flex-center;
    flex-direction: column;
  }
  
  @mixin flex-center-vert {
    display: flex;
    align-items: center;
  }
  
  @mixin flex-center-horiz {
    display: flex;
    justify-content: center;
  }

// ===== Usage ===== //
//   @include flex-column;
//   @include flex-center;
//   @include flex-center-column;
//   @include flex-center-vert;
//   @include flex-center-horiz;



/// **** PSEUDO ELEMENTS TOOLKIT **** ///

@mixin pseudo(
  $width: 100%,
  $height: 100%,
  $display: inline-block,
  $position: absolute,
  $content: ""
) {
  content: $content;
  display: $display;
  position: $pos;
  @include box($width, $height);
}

// ===== Usage ===== //
//   @include pseudo(width:, height:);



/// **** DIMENSIONS TOOLKIT **** ///

@mixin box($width, $height: $width) {
    width: $width;
    height: $height;
}

// ===== Usage ===== //
//   @include box(width: );
//   @include box(width:, height:);


